.DialogPessoaContainer.DialogPessoaContainer {
  padding: 20px;
}

.DialogPessoaTitulo.DialogPessoaTitulo {
  padding: 0;
  width: 100%;
}

.DialogPessoaCorpo.DialogPessoaCorpo {
  padding: 16px 0;
  width: 100%;
}

.DialogPessoaDivisor.DialogPessoaDivisor {
  margin-top: 16px;
  width: 100%;
  background-color: #DDDDDD;
}
