.CardPessoaContainer.CardPessoaContainer{
  padding: 16px;
  margin-top: 8px !important;
  transition: ease;

}

.CardPessoaNome.CardPessoaNome {
  color: #171740;
  font-size: medium;
}
.CardPessoaDocumento.CardPessoaDocumento {
  color: #545480;
  font-size: small;
}
