.CardPessoaContainer.CardPessoaContainer{
  padding: 16px;
  margin-top: 8px !important;
  transition: ease;

}

.CardPessoaNome.CardPessoaNome {
  color: #171740;
  font-size: medium;
}
.CardPessoaDocumento.CardPessoaDocumento {
  color: #545480;
  font-size: small;
}

.HomeBotaoEditarPessoa.HomeBotaoEditarPessoa {
  background: #288049;
  padding: 16px;
  color: #FFFFFF;

  &:hover {
    background: #288049;
    opacity: 0.9;
  }
}
